<div fxLayout="row wrap">
<mat-card class="auction-card" routerLink="login">
  
  <img mat-card-image class=".image" src="https://upload.wikimedia.org/wikipedia/commons/2/2b/QF-4_Holloman_AFB.jpg" alt="Auction Item Photo">
  <mat-card-header>
    <mat-card-title>Auction Item Name</mat-card-title>
    <mat-card-subtitle>Auction Item Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
      <p>
          This item is up for auction, it is really awesome.  You should probably buy this because you need it 
          and its adequately priced.
      </p>
  </mat-card-content>
</mat-card>


<mat-card class="auction-card" routerLink="login" >
    
    <img mat-card-image class=".image" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/F-15%2C_71st_Fighter_Squadron%2C_in_flight.JPG" alt="Auction Item Photo">
    <mat-card-header>
        <mat-card-title>{{ itemTitle }}</mat-card-title>
        <mat-card-subtitle>{{ itemSubtitle }}</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content >
        <p>
            {{itemContent}}
        </p>
    </mat-card-content>
  </mat-card>
  <div>

    <!--




<div fxLayout="row wrap">
<mat-card class="auction-card" routerLink="login">
  <mat-card-header>
    <mat-card-title>Auction Item Name</mat-card-title>
    <mat-card-subtitle>Auction Item Subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class=".image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Auction Item Photo">
  <mat-card-content >
      <p>
          This item is up for auction, it is really awesome.  You should probably buy this because you need it 
          and its adequately priced.
      </p>
  </mat-card-content>
</mat-card>


<mat-card class="auction-card" routerLink="login" >
    <mat-card-header>
      <mat-card-title>{{ itemTitle }}</mat-card-title>
      <mat-card-subtitle>{{ itemSubtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class=".image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Auction Item Photo">
    <mat-card-content >
        <p>
            {{itemContent}}
        </p>
    </mat-card-content>
  </mat-card>
  <div>




    -->