  .spacer {
    flex: 1;
  }

  .first-container {
    background-color: #1a1818;
    justify-content: center;
  }
  
  mat-grid-tile {
    justify-content: center;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
  }

  .responsive-sidenavbar a {
    color: whitesmoke;
    text-decoration: none;
  }

  .sidenav-container a {
    color: whitesmoke;
  }
  .sidenav-container {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
  }

  .sidenav-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
  }

  .sidenav-bar {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 200px !important;
  }


  