.spacer {
    flex: 1;
  }

  .first-container {
    background-color: #1a1818;
    justify-content: center;
  }
  
  mat-grid-tile {
    justify-content: center;
    height: 200px;
    display: flex;
  flex-wrap: wrap;
  }

  .responsive-sidenavbar a {
    color: whitesmoke;
    text-decoration: none;
  }

  .sidenav-container a {
    color: whitesmoke;
  }
