



<mat-grid-list class="first-container" cols="4" rowHeight="500px">
  
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <div class="tile-1">  
      <div class="tile-1-exp" >
          <h1 class="mat-display-1">PCs for All</h1>
          <h1 class="mat-display-1">Buy</h1>
          <h1 class="mat-display-1">Sell</h1>
          <h1 class="mat-display-1">Trade</h1>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile-2" [colspan]=3 [rowspan]=1>
    <div class="tile-2">  
        <p >Hello this is some text in the other tile </p>
        <img class="abstract-image" src='../../assets/abs5.jpg' alt="image">
      </div>
  </mat-grid-tile>
    
</mat-grid-list>



<img class="abstract-image" src='../../assets/abs8alt5.jpg' alt="image">
