

<!--fxLayout.xs="column"-->
<div class="containerX">
    <div class="lp-first-container-flex" fxFlex fxLayout="row" fxLayout.lt-md="column" >
      <div>
        <div fxFlex=33 fxFlex.lt-md=50 class="left" >
          <h1 class="mat-display-3">Auctions made easy.</h1>
          <h1 class="mat-body-strong">Buy, Sell, and Trade</h1>
        </div>
      </div>
      <div fxFlex=67 fxFlex.lt-md=50 class="right">
        <p> </p>
        <div class="carousel-container">
          <div class="carousel-cell-1">
            <!--
            <carousel [images]="images" style="height: 300px; border-radius: 12px; overflow: hidden;">
            </carousel>
          -->
          </div>
        </div>
      </div>
    </div>
</div>

<!--
<mat-grid-list class="first-container" cols="4" rowHeight="500px"> 
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <div class="tile-1">  
      <div class="tile-1-exp" >
          <h1 class="mat-display-1">PCs for All</h1>
          <h1 class="mat-body">Buy</h1>
          <h1 class="mat-body-strong">Sell</h1>
          <h1 class="mat-display-1">Trade</h1>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile-2" [colspan]=3 [rowspan]=1 fxStyle>
    <div class="tile-2">  
        <p >Hello this is some text in the other tile </p>
        <img class="abstract-image" src='../../assets/abs5.jpg' alt="image">
      </div>
  </mat-grid-tile>
    
</mat-grid-list>
-->


